.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 98vh;
    /* background: radial-gradient(lightblue 25%, blue); */
    background-image: url(ales-krivec-4miBe6zg5r0-unsplash.jpg);
    background-size: cover;
}

h1 {
    color: brown;
    text-decoration: underline;
}

p {
    color: blue;
}

button {
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
}

.content {
    justify-content: center;
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    border: 5px solid black;
    padding: 20px;
    margin: 0px 30px;
    border-radius: 25px;
    background: radial-gradient(lightgrey, darkgrey);

}