h1 {
    font-size: 40px;
    padding: 15px;
    font-family: cursive;
    text-align: center;
    border: 8px solid black;
    margin: 20px 300px;
    border-radius: 25px;
    color: rgb(14, 88, 88);
}

.container2 {
    display: flex;
    justify-content: center;
    margin: 0px 70px;
    font-size: 80px;
    background-color: lightgray;
    border: none;
}

.container2 div {
    padding: 5px 100px;
    color: orange;
    font-size: 80px;
}

body {
    background-color: lightgray;

}

.selections {
    display: flex;
    justify-content: center;
}

.selections button {
    margin: 0px 70px;
    font-size: 100px;
    background-color: lightgray;
    border: none;
}

.selections :hover {
    transform: scale(1.3);
    transition: 0.5s;
    cursor: pointer;
}


.results {
    display: flex;
    justify-content: center;
}

.results div {
    padding: 40px 80px;
    color: orange;
    font-size: 30px;
    font-weight: 800;
}

.results span {
    color: gray;
}

.resulttext {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    color: rgb(145, 32, 145);
}